<div fxLayout="row wrap" [class]="selectedTheme">
    <mat-toolbar fxFlex="100" fxLayout="row" color="accent" class="fixed-toolbar">
        <!-- left aligned items -->
        <ul fxFlex="70" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="navigation-item">
            <li routerLinkActive="active">
                <a routerLink="/home">Custom Theme</a>
            </li> 
            <li routerLinkActive="active">
                <a routerLink="/table">General Table</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/changeDetectionStrategy">Change Detection Strategy</a>
            </li>
        </ul>
    
        <!-- right aligned items -->
        <div fxFlex fxLayoutAlign="end">
            <button mat-icon-button 
                [matMenuTriggerFor]="menu" 
                aria-label="changing theme icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button *ngFor="let theme of themes;" mat-menu-item (click)="changeTheme(theme)">
                    <span>{{theme}}</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>

    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>